amqp==5.1.1
anyio==3.7.0
autopep8==2.0.2
billiard==4.1.0
celery==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
fastapi==0.97.0
filelock==3.12.2
flower==2.0.0
fsspec==2023.6.0
gevent==23.7.0
greenlet==2.0.2
h11==0.14.0
huggingface-hub==0.16.4
humanize==4.7.0
idna==3.4
Jinja2==3.1.2
kombu==5.3.1
MarkupSafe==2.1.3
minio==7.1.15
mpmath==1.3.0
networkx==3.1
numpy==1.25.1
packaging==23.1
prometheus-client==0.17.1
prompt-toolkit==3.0.39
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
redis==4.5.5
regex==2023.6.3
requests==2.31.0
safetensors==0.3.1
six==1.16.0
sniffio==1.3.0
sounddevice==0.4.6
srt==3.5.3
starlette==0.27.0
sympy==1.12
tokenizers==0.13.3
torch==2.0.1
tornado==6.3.2
tqdm==4.65.0
transformers==4.30.2
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
uvicorn==0.22.0
vine==5.0.0
vosk==0.3.44
wcwidth==0.2.6
websockets==11.0.3
zope.event==5.0
zope.interface==6.0
